<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite - HRM">
  <test name="Test - Login Test">
  <!--<groups>
    <run>
      <include name="sanity"/>
      <exclude name="reg"/>
    </run>
  </groups> -->
    <classes>
      <class name="testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test - MyInfo Test">
  <!--<groups>
    <run>
      <include name="sanity"/>
      <exclude name="reg"/>
    </run>
  </groups> -->
  
    <classes>
      <class name="testcases.MyInfoTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test - PIM Test">
  <!--<groups>
    <run>
      <include name="sanity"/>
      <exclude name="reg"/>
    </run>
  </groups> -->
  
    <classes>
      <class name="testcases.MyInfoTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
